.account-layout {
    margin: 50px 0 100px 0;

    .container {
        background-image: url('/images/account-bg.svg');
        background-size: contain;
        min-height: 400px;
        background-repeat: no-repeat;
        padding: 40px;
        background-position: center;
    }

    .account-container {
        width: 100%;
        height: 100%;        
        background-color: #fff;
        box-shadow: 0px 0px 30px rgba(245, 81, 29, 0.15);
        border-radius: 10px;    
        min-height: 60vh;
        max-width: 1000px;
        display: block;
        margin: 0 auto;

        .side-panel {
            min-width: 400px;
            max-width: 400px;
            background-color: #FF6D45;
            border-radius: 10px 0 0 10px;
            padding: 50px 30px;
            color: #fff;

            .top-content {
                h1 {
                    font-size: 38px;
                    font-weight: 900;
                    font-family: 'Epilogue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    margin-bottom: 20px;
                }

                p {
                    margin-top: 30px;
                    font-family: 'Epilogue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 500;                   
                }

                ul {
                    padding: 0;
                }

                li {
                    list-style: none;
                    font-size: 18px;
                    margin-bottom: 10px;

                    &:before {
                        content: url("data:image/svg+xml,%0A%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4999 11.4998C9.01468 13.9851 4.98532 13.9851 2.50009 11.4998C0.0148594 9.01462 0.014859 4.98526 2.50009 2.50003C4.98532 0.0147973 9.01468 0.0147963 11.4999 2.50003L15.9998 6.99994L11.4999 11.4998Z' fill='white'/%3E%3C/svg%3E%0A");
                        width: 20px!important;
                        height: 20px!important;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                }                 
            }

            .bottom-content {
                p {
                    margin-top: 100px;
                    font-family: 'Epilogue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: 500;      
                    margin-bottom: 0;
                }
                
                ul {
                    padding: 0;
                }

                li {
                    list-style: none;
                    display: inline;
                    margin-right: -20px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        border: 5px solid #FF6D45;
                    }
                }
            }
        }

        .child-container {
            position: relative;
            display: block;
            margin: 0 auto;
            width: 100%;
            overflow: hidden;

            .box {
                width: 100px;
                height: 100px;
                border: 2px solid #7B7688;
                border-radius: 50%;
                position: absolute;
                left: 10px;
                top: -50px;
            }

            .box-2 {
                width: 200px;
                height: 200px;
                border: 2px solid #7B7688;
                position: absolute;
                border-radius: 50%;
                bottom: -100px;
                right: -50px;
            }

            .child-content {
                max-width: 400px;
                display: block;
                margin: 0 auto;
                padding: 50px 30px;
            }

            .personal-details {
                // quoutes & fallback is required
                font-family: 'Epilogue';
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 130%;
                color: #03020D;
                margin: 16px 0px;
            }

            .login-btns {
                // cannot strictly use !important
                width: 100%;
                height: auto;
                margin: 20px 0;

                .login-btn-text {
                    font-family: Epilogue;
                    font-weight: bold;
                    font-size: 0.9rem;
                    color: #FFFFFF;
                }
            }

            .google-login-btn {
                .login-btn-text {
                    color: black;
                }
            }
        }

        @media only screen and (max-width: 991px) {
            .side-panel {
                min-width: auto;
                max-width: auto;
            }
        }   
        
        @media only screen and (max-width: 767px) {
            .side-panel {
                display: none;
            }

            .box-2 {
                min-width: 100px;
                min-height: 100px;
                max-width: 100px;
                max-height: 100px;
                position: absolute;
                bottom: -50px;
                right: -50px;
            }
        }
    }
}

