.launch-letter-page, .about-us-page, .privacy-policy-page, .terms-of-service-page, .code-of-conduct-page {
    min-height: 90vh;
    margin: 100px 0;

    .sub-title {
        margin-top: 50px;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .green-box {
        height: 400px;
        width: 400px;
        margin-top: -300px;
        margin-left: -200px;
        background: radial-gradient(43.87% 43.87% at 50% 50%, #75FACE 0%, rgba(117, 250, 206, 0) 92.23%);
    }

    .yellow-box {
		height: 300px;
		width: 100%;
		background: radial-gradient(42.27% 42.27% at 50% 51.21%, #FADF75 0%, rgba(250, 223, 117, 0) 100%);
		margin-top: -200px;
        margin-bottom: 0px;
    }

    .page-title {
        font-size: 40px;
        font-weight: 700;
        font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 96px;
        margin-top: -100px;
        color: #03020D;
    }

    p {
        font-size: 18px;
        line-height: 38px;
        font-family: 'Epilogue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #7B7688;

        strong {
            color: #03020D;
        }
    }

    .person {
        margin-right: 20px;
        margin-top: 50px;

        &:last-child {
            margin-right: 0;
        }

        img {
            max-width: 200px;
            max-height: 200px;
            object-fit: contain;
        }

        h1 {
            font-size: 1.2rem;
            color: #403E47;
            font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-bottom: 0;
            margin-top: 10px;
        }

        p {
            font-size: .9rem;
            color: #7B7688;
            font-family: 'Epilogue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-top: 0;
        }
    }
}