@import "./component/TestPlatformNavbar";
@import "../../markdown";
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: StackOverflow Light
  Description: Light theme as used on stackoverflow.com
  Author: stackoverflow.com
  Maintainer: @Hirse
  Website: https://github.com/StackExchange/Stacks
  License: MIT
  Updated: 2021-05-15

  Updated for @stackoverflow/stacks v0.64.0
  Code Blocks: /blob/v0.64.0/lib/css/components/_stacks-code-blocks.less
  Colors: /blob/v0.64.0/lib/css/exports/_stacks-constants-colors.less
*/.hljs{color:#2f3337;background:#f6f6f6}.hljs-subst{color:#2f3337}.hljs-comment{color:#656e77}.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-section,.hljs-selector-tag{color:#015692}.hljs-attribute{color:#803378}.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag,.hljs-type{color:#b75501}.hljs-selector-class{color:#015692}.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#54790d}.hljs-meta,.hljs-selector-pseudo{color:#015692}.hljs-built_in,.hljs-literal,.hljs-title{color:#b75501}.hljs-bullet,.hljs-code{color:#535a60}.hljs-meta .hljs-string{color:#54790d}.hljs-deletion{color:#c02d2e}.hljs-addition{color:#2f6f44}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}

.test-platform {
    .page-content {
        background-color: #fff;

        .page-title {
            font-size: 34px;
            font-weight: normal;
            // text-decoration: underline;

            small {
                display: block;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
            }            
        }

        .instructions {
            margin: 30px 0;
            font-size: 16px;
            line-height: 200%;
            color: #000;
        }

        button {
			margin: 0 0 30px 0;
			background-color: #000;
			color: #fff;
			text-transform: capitalize;
			font-weight: 500;
			font-size: 18px;
			border-radius: 0;
			opacity: 1;
			padding: 18px 14px;            
        }

        .help-text {
            font-size: 14px;
            color: #000;
            
            a {
                text-decoration: none;
                font-weight: bold;
                color: #000;
            }
        }
    }
}

.test-platform-editor-page {
    overflow: hidden;

    .page-content {
        .page-tabs {
            .page-tab {
                width: 50vw;
            }

            .lhs {
                border-right: 1px solid rgb(219, 219, 219);

                .nav {
                    border-bottom: 1px solid rgb(219, 219, 219);

                    a {
                        font-size: 14px;
                        text-transform: capitalize;
                        font-weight: bold;
                        color: #000;
                        opacity: .5;
                        cursor: pointer;
                        padding: 16px 25px;
                        line-height: 20px;

                        &:hover {
                            opacity: .8;
                        }

                        &.active {
                            opacity: 1;
                            border-bottom: 2px solid #000;
                        }
                    }
                }

                .markdown-body {
                    height: calc(100vh - 146px);
                    overflow: auto;
                }
            }
        }
    }
}