@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Space+Grotesk:wght@400;500;700&display=swap');

html, body {
	padding: 0;
  	margin: 0;
	font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	overflow-x: hidden;
}

/** Button */
.btn, .navbar-toggler {
  	border-radius: 0 !important;
	outline: none !important;
	transition-delay: .3s;
	box-shadow: none !important;

	&:focus, &:active {
		outline: none !important;
		box-shadow: none !important;
	}
}

.form-control {
	&:focus, &:active {
		outline: none !important;
		box-shadow: none !important;
	}	
}

.btn-primary, .btn-success {
  	color: #fff;
  	transition-delay: .2s;
	font-weight: bold;
}

.nav-link {
	color: #fff !important;
	opacity: 1;
	font-size: 15px;
}

/** Toggle */
.navbar-toggler {
	border-radius: none;
	border: none;
	margin-right: 0;
	padding-right: 0;
}

/** Pages */
@import "./pages/index";
@import "./pages/launch-letter";

/** Components */
@import "./footer";